<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<!--	google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<!--	header started-->
	{{template "header"}}
	
	<!--	header end-->
	<!--	slider part started-->
	{{template "header_slider"}}
	
	<!--	slider part ended-->



	<!--	card part started-->
	{{template "card" .}}
	
	<!--	card part ended-->

	<!--	icon part started-->
	{{template "icon"}}
	
	<!--	icon part ended-->










	<script src="../js/jquery-2.2.4.min.js"></script>
	<script src="../js/Font-Awesome.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/custom.js"></script>
</body></html>
